<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="general">
            <directory prefix="Test_" suffix=".php">tests</directory>
            <exclude>tests/Test_Uploads.php</exclude>
            <exclude>tests/Test_SQLite.php</exclude>
        </testsuite>
        <testsuite name="uploads">
            <file>tests/Test_Uploads.php</file>
        </testsuite>
        <testsuite name="sqlite">
            <file>tests/Test_SQLite.php</file>
        </testsuite>
    </testsuites>
</phpunit>
