<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="general">
            <directory suffix="Test.php">tests</directory>
            <exclude>tests/Uploads_Test.php</exclude>
            <exclude>tests/SQLite_Test.php</exclude>
        </testsuite>
        <testsuite name="uploads">
            <file>tests/Uploads_Test.php</file>
        </testsuite>
        <testsuite name="sqlite">
            <file>tests/SQLite_Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
